@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<p>W bazie jest @Model.Records.Count obiektów. Lista
aktywnych osób:</p>
@foreach (var item in Model.Records.People) {
<p>@item.FullName</p>
}
</div>
